#container {
    position: absolute;
    x: 100%;
    y: 10;
  }
  
  .slidecontainer {
      width: 100%; /* Width of the outside container */
      padding: 5px;
  }
  
  .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 15px;
      border-radius: 5px;   
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%; 
      background: #4CAF50;
      cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer;
  }
  
  .slider-x::-webkit-slider-thumb {
      background: #4CAF50; /* Green background */
  }
  
  .slider-y::-webkit-slider-thumb {
      background: #2474A6; /* blue background */
  }
  
  .slider-z::-webkit-slider-thumb {
      background: #E00B27; /* red background */
  }
  .slider-r::-webkit-slider-thumb {
      background: #F2A30F
  }
  .slider::-moz-range-thumb {
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: #4CAF50; /* Green background */
      cursor: pointer; /* Cursor on hover */
  }